* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
}
.title {
	font-size: 75px;
	text-align: center;
	text-decoration: bold;
}
body {
	background-image: url("http://www.divedesco.com/Content/images/waterBG.jpg?w=240");
}
.box {
	height: 400px;
	width: 400px;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-left: 100px;
	float: left;
	border: red 2px solid;
	background-color: gray;
	border-radius: 5px;
	text-align: center;
}
.head {
	position: absolute;
	font-size: 150px;
	margin-left: 155px;
	margin-top: -40px;
}
.body {
	position: absolute;
	font-size: 150px;
	margin-left: 177px;
	margin-top: 70px;

}
.right-arm {
	position: absolute;
	font-size: 120px;
	margin-left: 194px;
	margin-top: 85px;
}
.left-arm {
	position: absolute;
	font-size: 120px;
	margin-left: 166px;
	margin-top: 85px;
}
.right-leg {
	position: absolute;
	font-size: 120px;
	margin-left: 194px;
	margin-top: 210px;
}
.left-leg {
	position: absolute;
	font-size: 120px;
	margin-left: 166px;
	margin-top: 210px;
}
.stage {
	position: absolute;
	font-size: 150px;
	margin-top: 190px;
	margin-left: 10px;
}
.post-one {
	position: absolute;
	font-size: 150px;
	margin-left: 60px;
	margin-top: 180px;
}
.post-two {
	position: absolute;
	font-size: 150px;
	margin-left: 60px;
	margin-top: 40px;
}
.post-three {
	position: absolute;
	font-size: 150px;
	margin-left: 60px;
	margin-top: -20px;
}
.upper-post {
	position: absolute;
	font-size: 150px;
	margin-top: -150px;
	margin-left: 70px;
}